<a href="https://colab.research.google.com/github/AlvaroBecker/CodingDojoTareas-/blob/main/Tarea_Preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [165]:
url='https://drive.google.com/file/d/1zkcVqin1DV7ym7DFPVovCCsqkoiDZs-6/view'
def format_drive_url(url):
    file_id = url.split('/')[-2]
    download_url = f'https://drive.google.com/uc?id={file_id}&export=download'
    return download_url

import pandas as pd
df=pd.read_csv(format_drive_url(url))

In [166]:
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
import numpy as np

Para esta tarea, usarán el conjunto de datos de los gastos médicos con los que trabajaron con anterioridad en este capítulo. El conjunto de datos muestra los gastos médicos para diversos pacientes.  La pregunta de aprendizaje automático es: 

¿Qué tan bien se puede predecir el gasto basándose en la edad, el sexo, el IMC, el número de hijos, el tabaquismo y la región del paciente? 

En este momento, solo están completando el preprocesamiento. En una tarea posterior, aplicarán los pasos adicionales para abordar la pregunta.

Deberán:

Definir las características (X) y el objetivo (y)

Realizar un train test split a los datos para prepararlos para el aprendizaje automático

Identificar cada característica como numérica, ordinal o nominal. (Entreguen esta respuesta en una celda de texto en un cuaderno de Colab)

Codificar de manera ordinal cualquier característica ordinal

Realizar una codificación one-hot cualquier característica nominal 

Escalar cualquier característica numérica

Concatenar todas las características de vuelta a un DataFrame.

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [168]:
df.shape

(1338, 7)

In [169]:
df.duplicated().sum()

1

In [170]:
df.isna().any()

age         False
sex         False
bmi         False
children    False
smoker      False
region      False
charges     False
dtype: bool

In [171]:
df=df.drop_duplicates()


Definir las características (X) y el objetivo (y)

In [172]:
df_train_split=df.copy()

In [173]:
X=df_train_split.drop(columns=['charges'])
y=df_train_split['charges']

Realizar un train test split a los datos para prepararlos para el aprendizaje automático

In [174]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

Identificar cada característica como numérica, ordinal o nominal. (Entreguen esta respuesta en una celda de texto en un cuaderno de Colab)

|Caracteristica|tipo de variable|tipo de caracteristica|
|--------------|----------------|----------------------|
|age           |Int64           |Numérica              |
|sex           |object          |Categórica Nominal    |
|bmi           |float64         |Numérica              |
|children      |int64           |Numérica              |
|smoker        |object          |Categórica Nominal    |
|region        |object          |Categórica Nominal    |
|charges       |float64         |Numérica              |

Realizar una codificación one-hot cualquier característica nominal

In [175]:
cat_selector = make_column_selector(dtype_include='object')

In [176]:
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data

         sex smoker     region
763     male     no  northeast
1079    male     no  southeast
178   female     no  southwest
287   female     no  northwest
1290  female     no  northeast
...      ...    ...        ...
1096  female    yes  northeast
1131    male     no  southwest
1295    male     no  southwest
861   female     no  southwest
1127  female     no  southeast

[1002 rows x 3 columns]

In [177]:
# instancien la codificación one-hot
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
# ajusten el OneHotEncoder en los datos de entrenamiento
ohe_encoder.fit(train_cat_data)
# transforme los datos de entrenamiento y de prueba
train_ohe = ohe_encoder.transform(train_cat_data)
test_ohe = ohe_encoder.transform(test_cat_data)
train_ohe

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [1., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 1., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 1., 0.]])

In [178]:
ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_data.columns)
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)
train_ohe

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
997,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
998,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
999,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1000,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1001,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

Escalar cualquier característica numérica

In [179]:
X_train.describe().round(0)

          age     bmi  children
count  1002.0  1002.0    1002.0
mean     39.0    31.0       1.0
std      14.0     6.0       1.0
min      18.0    16.0       0.0
25%      27.0    26.0       0.0
50%      39.0    30.0       1.0
75%      51.0    35.0       2.0
max      64.0    53.0       5.0

In [180]:
numeric_columns=X_train.select_dtypes(include=['int64', 'float64']).columns

In [181]:
# instancien el escalador
scaler = StandardScaler()
# ajusten el escalador en los datos de entrenamiento
scaler.fit(X_train[numeric_columns])

StandardScaler()

In [182]:
X_train_num=X_train[numeric_columns]
X_test_num=X_test[numeric_columns]

In [183]:
train_scaled = scaler.transform(X_train_num)
# transformen los datos de prueba
test_scaled = scaler.transform(X_test_num)
# observen las 5 primeras filas de train_scaled
train_scaled[:5]

array([[-0.8629477 , -0.76233578, -0.91222776],
       [ 1.71517467,  0.50682967,  1.59660724],
       [ 0.49772799, -0.28494327,  0.7603289 ],
       [ 1.71517467, -0.7307314 , -0.91222776],
       [-0.07518809, -1.77367601,  0.7603289 ]])

In [184]:
X_train_scaled = pd.DataFrame(train_scaled, columns=X_train_num.columns)
X_train_scaled.head()

        age       bmi  children
0 -0.862948 -0.762336 -0.912228
1  1.715175  0.506830  1.596607
2  0.497728 -0.284943  0.760329
3  1.715175 -0.730731 -0.912228
4 -0.075188 -1.773676  0.760329

In [185]:
X_test_scaled = pd.DataFrame(test_scaled, columns=X_test_num.columns)

Concatenar todas las características de vuelta a un DataFrame.

In [186]:
# recombinen los conjuntos de entrenamiento y de prueba en el eje 1 (columnas)
X_train_processed = pd.concat([X_train_scaled, train_ohe], axis=1)
X_test_processed = pd.concat([X_test_scaled, test_ohe], axis=1)
X_train_processed

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,-0.862948,-0.762336,-0.912228,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1.715175,0.506830,1.596607,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.497728,-0.284943,0.760329,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,1.715175,-0.730731,-0.912228,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,-0.075188,-1.773676,0.760329,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
997,0.855801,0.723070,0.760329,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
998,-0.862948,2.542817,0.760329,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
999,-1.364249,-1.432681,-0.075949,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1000,-0.075188,-0.434648,1.596607,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1001,-0.290032,0.872775,0.760329,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0